@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;

    background-color: #eee;
    border-color: #eee;

    color: black;

    display: flex;
    justify-content: center;
}

header{
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}

h2, h4{
    font-family: 'Roboto Slab', serif;
}

.newspaper-container{
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
    10px -10px 20px rgba(255, 255, 255, 0.5);

    width: 700px;
    padding: 15px;

    border-radius: 10px;
    
    display: flex;
    flex-direction: column;

    width: clamp(600px, 100%, 1000px);
}

h5{
    /*The straight red color was ugly, so I made it darker :) */
    color: #a52603;
    font-size: 1em;
}

a:link{
    color:#777;
    text-decoration: none;
}

nav{
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    display: flex;
    justify-content: center;
    flex-wrap: none;

    position: sticky;
    top: 0px;

    z-index: 2;
    background-color: white;
}

ul{
    list-style-type: none;
    
}

li{
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
}

h2{
    padding-top: 0px;
}

#front-page-img{
    width: 100%;
    display: block;
}

.more-articles{
    display: flex;
    justify-content: space-evenly;

    gap: 10px;
}

h4{
    min-height: 42px;
    position: relative;

    margin-bottom: 0px;
}

@media (max-width:430px) {
    .more-articles{
        display: block;
    }
}

p{
    color: rgb(86, 86, 86);
}

.section-article-text{
    display: flex;
    align-items: center;

}

.section-article-img{
    width: 100%;
    display: block;
}

footer a:link{
    color: #ffffff;

    display: flex;
    justify-content: center;
}

footer{
    background-color: #777;
    padding: 1px;
}